h1.centro{
    text-align: center;
    font-weight: bold;
}

.centered{
    text-align: center;
}

#salirBoton{
    margin-left: 10px;
    background-color: crimson;
    color: white;
}

#salirBoton:hover{
    margin-left: 10px;
    background-color: white;
    color: crimson;
}