<div>
    <h1 class="centro">Médicos</h1>
    <mat-table *ngIf="medicos.length > 0" [dataSource]="dataSourceTablaMedicos" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
            <mat-cell *matCellDef="let medico"> {{medico.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let medico"> {{medico.nombre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Tipo Identificación">
            <mat-header-cell *matHeaderCellDef> Tipo Identificación </mat-header-cell>
            <mat-cell *matCellDef="let medico"> {{medico.tipoIdentificacion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Identificación">
            <mat-header-cell *matHeaderCellDef> Identificación </mat-header-cell>
            <mat-cell *matCellDef="let medico"> {{medico.identificacion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Opciones">
            <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
            <mat-cell *matCellDef="let medico; let i = index">
                <div>
                    <button mat-raised-button class="opcionbutton detallebutton" (click)="getDetallesMedico(templateDetalles, medico.id)">Detalles</button>
                    <button mat-raised-button class="opcionbutton editarbutton" (click)="updateMedico(templateActualizar, medico.id, i)">Editar</button>
                    <button mat-raised-button class="opcionbutton borrarbutton" (click)="borrarMedico(templateDelete, medico, i)">Borrar</button>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <br>
    <br>
    <ng-template #templateDetalles let-data>
        <h1 class="centro">Información Médico</h1>
        <div class="fullWidth">
            <h3 style="display: inline-block; font-weight: bold;">Id:&nbsp;</h3>
            <h3 style="display: inline-block;">{{data.medico.id}}</h3>
            <br>
            <h3 style="display: inline-block; font-weight: bold;">Nombre:&nbsp;</h3>
            <h3 style="display: inline-block;">{{data.medico.nombre}}</h3>
            <br>
            <h3 style="display: inline-block; font-weight: bold;">Tipo Identificación:&nbsp;</h3>
            <h3 style="display: inline-block;">{{data.medico.tipoIdentificacion}}</h3>
            <br>
            <h3 style="display: inline-block; font-weight: bold;">Identificación:&nbsp;</h3>
            <h3 style="display: inline-block;">{{data.medico.identificacion}}</h3>
            <br>
            <h3 style="display: inline-block; font-weight: bold;">Número Tarjeta Profesional:&nbsp;</h3>
            <h3 style="display: inline-block;">{{data.medico.numeroTarjetaProfesional}}</h3>
            <br>
            <h3 style="display: inline-block; font-weight: bold;">Años de experiencia:&nbsp;</h3>
            <h3 style="display: inline-block;">{{data.medico.anosExperiencia}}</h3>
            <br>
            <h3 style="display: inline-block; font-weight: bold;">Especialidad:&nbsp;</h3>
            <h3 style="display: inline-block;">{{data.medico.especialidad}}</h3>
            <br>
            <h3 style="display: inline-block; font-weight: bold;">Hora inicio atención:&nbsp;</h3>
            <h3 style="display: inline-block;">{{data.medico.horaInicioAtencion}}</h3>
            <br>
            <h3 style="display: inline-block; font-weight: bold;">Hora fin atención:&nbsp;</h3>
            <h3 style="display: inline-block;">{{data.medico.horaFinAtencion}}</h3>
            <br>
        </div>
        <div class="fullWidth centered">
            <button mat-raised-button id="salirBoton" (click)="cerrarDialog('dialogDetallesMedico')">Atrás</button>
        </div>
    </ng-template>
    <ng-template #templateCrear>
        <h1 class="centro">Añadir Médico</h1>
        <form [formGroup]="addMedicoForm" #formDirectiveAddMedico="ngForm" (ngSubmit)="submitCrearMedico(formDirectiveAddMedico)" autocomplete="off">
            <mat-form-field class="fullWidth">
                <mat-label for="nombre" class="text-info titleInput">Nombre:</mat-label><br>
                <input class="inputAdd" matInput type="text" formControlName="nombre" (click)="hideError('crear')" (focus)="hideError('crear')">
                <mat-error *ngIf="(nombre.dirty || nombre.touched) && nombre.invalid && nombre.errors.required">Escribe el nombre del médico</mat-error>
                <mat-error *ngIf="(nombre.dirty || nombre.touched) && nombre.invalid && nombre.errors.maxlength">Se ha excedido el límite de caracteres</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="tipoIdentificacion" class="text-info titleInput">Tipo de Identificación:</mat-label><br>
                <mat-select formControlName="tipoIdentificacion" (click)="hideError('crear')" (focus)="hideError('crear')">
                    <ng-container *ngFor="let tipoIdentidad of tipoIdentidades">
                        <mat-option [value]="tipoIdentidad">{{tipoIdentidad}}</mat-option>
                    </ng-container>
                </mat-select>
                <mat-error *ngIf="(tipoIdentificacion.dirty || tipoIdentificacion.touched) && tipoIdentificacion.invalid && tipoIdentificacion.errors.required">Selecciona el tipo de identificación</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="identificacion" class="text-info titleInput">Identificación:</mat-label><br>
                <input class="inputAdd" matInput type="text" formControlName="identificacion" pattern="^[A-Za-z0-9][A-Za-z0-9-]*$" (click)="hideError('crear')" (focus)="hideError('crear')">
                <mat-error *ngIf="(identificacion.dirty || identificacion.touched) && identificacion.invalid && identificacion.errors.required">Escribe la identificacion</mat-error>
                <mat-error *ngIf="(identificacion.dirty || identificacion.touched) && identificacion.invalid && identificacion.errors.maxlength">Se ha excedido el límite de caracteres</mat-error>
                <mat-error *ngIf="(identificacion.dirty || identificacion.touched) && identificacion.invalid && identificacion.errors.pattern">Identificación no válida</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="numeroTarjetaProfesional" class="text-info titleInput">Número Tarjeta Profesional:</mat-label><br>
                <input class="inputAdd" matInput type="text" formControlName="numeroTarjetaProfesional" pattern="^([0-9]+-)*[0-9]+$" (click)="hideError('crear')" (focus)="hideError('crear')">
                <mat-error *ngIf="(numeroTarjetaProfesional.dirty || numeroTarjetaProfesional.touched) && numeroTarjetaProfesional.invalid && numeroTarjetaProfesional.errors.required">Escribe el número de la tarjeta profesional</mat-error>
                <mat-error *ngIf="(numeroTarjetaProfesional.dirty || numeroTarjetaProfesional.touched) && numeroTarjetaProfesional.invalid && numeroTarjetaProfesional.errors.pattern">Número de tarjeta profesional no válido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="anosExperiencia" class="text-info titleInput">Años de experiencia:</mat-label><br>
                <input class="inputAdd" matInput type="text" formControlName="anosExperiencia" pattern="^[0-9]+$" (click)="hideError('crear')" (focus)="hideError('crear')">
                <mat-error *ngIf="(anosExperiencia.dirty || anosExperiencia.touched) && anosExperiencia.invalid && anosExperiencia.errors.required">Escribe el número de años de experiencia</mat-error>
                <mat-error *ngIf="(anosExperiencia.dirty || anosExperiencia.touched) && anosExperiencia.invalid && anosExperiencia.errors.pattern">Campo no válido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="especialidad" class="text-info titleInput">Especialidad:</mat-label><br>
                <input class="inputAdd" matInput type="text" formControlName="especialidad" (click)="hideError('crear')" (focus)="hideError('crear')">
                <mat-error *ngIf="(especialidad.dirty || especialidad.touched) && especialidad.invalid && especialidad.errors.required">Escribe la especialidad del médico</mat-error>
                <mat-error *ngIf="(especialidad.dirty || especialidad.touched) && especialidad.invalid && especialidad.errors.maxlength">Se ha excedido el límite de caracteres</mat-error>
            </mat-form-field>
            <br>
            <div style="text-align: center; width: 70%; margin: 0 auto;">
                <mat-form-field>
                    <mat-label for="horaInicioAtencion" class="text-info titleInputHora">Hora Inicio Atención:</mat-label><br>
                    <mat-select formControlName="horaInicioAtencion" (click)="hideError('crear')" (focus)="hideError('crear')">
                        <ng-container *ngFor="let hora of horasDisponibles">
                            <mat-option [value]="hora">{{hora}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="(horaInicioAtencion.dirty || horaInicioAtencion.touched) && horaInicioAtencion.invalid && horaInicioAtencion.errors.required">Selecciona la hora</mat-error>
                </mat-form-field>
                <br>
                <mat-radio-group [(ngModel)]="anteMeridiemInicio" [ngModelOptions]="{standalone: true}" (ngModelChange)="changesMeridiemCrearMedico()" [name]="anteMeridiemInicio" class="RadiobotonesHora" (click)="hideError('crear')" (focus)="hideError('crear')">
                    <mat-radio-button value="1" style="font-weight: bold; padding-right: 10px;">A.M</mat-radio-button>
                    <mat-radio-button value="2" style="font-weight: bold; padding-left: 10px;">P.M</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <div style="text-align: center; width: 70%; margin: 0 auto;">
                <mat-form-field>
                    <mat-label for="horaFinAtencion" class="text-info titleInputHora">Hora Fin Atención:</mat-label><br>
                    <mat-select formControlName="horaFinAtencion" (click)="hideError('crear')" (focus)="hideError('crear')">
                        <ng-container *ngFor="let hora of horasDisponibles">
                            <mat-option [value]="hora">{{hora}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="(horaFinAtencion.dirty || horaFinAtencion.touched) && horaFinAtencion.invalid && horaFinAtencion.errors.required">Selecciona la hora</mat-error>
                </mat-form-field>
                <br>
                <mat-radio-group [(ngModel)]="anteMeridiemFin" [ngModelOptions]="{standalone: true}" (ngModelChange)="changesMeridiemCrearMedico()" [name]="anteMeridiemFin" class="RadiobotonesHora" (click)="hideError('crear')" (focus)="hideError('crear')">
                    <mat-radio-button value="3" style="font-weight: bold; padding-right: 10px;">A.M</mat-radio-button>
                    <mat-radio-button value="4" style="font-weight: bold; padding-left: 10px;">P.M</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <div #mensajeServidorAddMedico class="errorServidor"></div>
            <br>
            <div class="centered">
                <button mat-raised-button class="botonesFormDialogOk" [disabled]="(!addMedicoForm.valid || deshabilitarBotonCrearMedico)">Guardar</button>
                <button mat-raised-button class="botonesFormDialogCancel" type="button" (click)="cerrarDialog('dialogCrearMedico')">Cancelar</button>
            </div>
        </form>
    </ng-template>
    <ng-template #templateActualizar let-data>
        <h1 class="centro">Actualizar Información Médico</h1>
        <form [formGroup]="updateMedicoForm" #formDirectiveUpdateMedico="ngForm" (ngSubmit)="submitUpdateMedico(data.idMedico, data.indexMedico)" autocomplete="off">
            <mat-form-field class="fullWidth">
                <mat-label for="nombreUpdate" class="text-info titleInput">Nombre:</mat-label><br>
                <input #inputNombreUpdateMedico class="inputAdd" matInput type="text" formControlName="nombreUpdate" (ngModelChange)="changesInputUpdateVerificacion('nombreUpdate')" (click)="hideError('actualizar')" (focus)="hideError('actualizar'); inputNombreUpdateMedico.select()">
                <mat-error *ngIf="(nombreUpdate.dirty || nombreUpdate.touched) && nombreUpdate.invalid && nombreUpdate.errors.maxlength">Se ha excedido el límite de caracteres</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="tipoIdentificacionUpdate" class="text-info titleInput">Tipo de Identificación:</mat-label><br>
                <mat-select formControlName="tipoIdentificacionUpdate" (click)="hideError('actualizar')" (focus)="hideError('actualizar')">
                    <ng-container *ngFor="let tipoIdentidad of tipoIdentidades">
                        <mat-option [value]="tipoIdentidad">{{tipoIdentidad}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="identificacionUpdate" class="text-info titleInput">Identificación:</mat-label><br>
                <input #inputIdentificacionUpdateMedico class="inputAdd" matInput type="text" formControlName="identificacionUpdate" pattern="^[A-Za-z0-9][A-Za-z0-9-]*$" (ngModelChange)="changesInputUpdateVerificacion('identificacionUpdate')" (click)="hideError('actualizar')" (focus)="hideError('actualizar'); inputIdentificacionUpdateMedico.select()">
                <mat-error *ngIf="(identificacionUpdate.dirty || identificacionUpdate.touched) && identificacionUpdate.invalid && identificacionUpdate.errors.maxlength">Se ha excedido el límite de caracteres</mat-error>
                <mat-error *ngIf="(identificacionUpdate.dirty || identificacionUpdate.touched) && identificacionUpdate.invalid && identificacionUpdate.errors.pattern">Identificación no válida</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="numeroTarjetaProfesionalUpdate" class="text-info titleInput">Número Tarjeta Profesional:</mat-label><br>
                <input #inputNumeroTarjetaProfesionalUpdateMedico class="inputAdd" matInput type="text" formControlName="numeroTarjetaProfesionalUpdate" pattern="^([0-9]+-)*[0-9]+$" (ngModelChange)="changesInputUpdateVerificacion('numeroTarjetaProfesionalUpdate')" (click)="hideError('actualizar')" (focus)="hideError('actualizar'); inputNumeroTarjetaProfesionalUpdateMedico.select()">
                <mat-error *ngIf="(numeroTarjetaProfesionalUpdate.dirty || numeroTarjetaProfesionalUpdate.touched) && numeroTarjetaProfesionalUpdate.invalid && numeroTarjetaProfesionalUpdate.errors.pattern">Número de tarjeta profesional no válido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="anosExperienciaUpdate" class="text-info titleInput">Años de experiencia:</mat-label><br>
                <input #inputAnosExperienciaUpdateMedico class="inputAdd" matInput type="text" formControlName="anosExperienciaUpdate" pattern="^[0-9]+$" (ngModelChange)="changesInputUpdateVerificacion('anosExperienciaUpdate')" (click)="hideError('actualizar')" (focus)="hideError('actualizar'); inputAnosExperienciaUpdateMedico.select()">
                <mat-error *ngIf="(anosExperienciaUpdate.dirty || anosExperienciaUpdate.touched) && anosExperienciaUpdate.invalid && anosExperienciaUpdate.errors.pattern">Campo no válido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="fullWidth">
                <mat-label for="especialidadUpdate" class="text-info titleInput">Especialidad:</mat-label><br>
                <input #inputEspecialidadUpdateMedico class="inputAdd" matInput type="text" formControlName="especialidadUpdate" (ngModelChange)="changesInputUpdateVerificacion('especialidadUpdate')" (click)="hideError('actualizar')" (focus)="hideError('actualizar'); inputEspecialidadUpdateMedico.select()">
                <mat-error *ngIf="(especialidadUpdate.dirty || especialidadUpdate.touched) && especialidadUpdate.invalid && especialidadUpdate.errors.maxlength">Se ha excedido el límite de caracteres</mat-error>
            </mat-form-field>
            <br>
            <div style="text-align: center; width: 70%; margin: 0 auto;">
                <mat-form-field>
                    <mat-label for="horaInicioAtencionUpdate" class="text-info titleInputHora">Hora Inicio Atención:</mat-label><br>
                    <mat-select formControlName="horaInicioAtencionUpdate" (click)="hideError('actualizar')" (focus)="hideError('actualizar')">
                        <ng-container *ngFor="let hora of horasDisponibles">
                            <mat-option [value]="hora">{{hora}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-radio-group [(ngModel)]="anteMeridiemInicio" [ngModelOptions]="{standalone: true}" [name]="anteMeridiemInicio" class="RadiobotonesHora" (ngModelChange)="changesInputUpdateVerificacion('anteMeridiemInicio')" (click)="hideError('actualizar')" (focus)="hideError('actualizar')">
                    <mat-radio-button value="1" style="font-weight: bold; padding-right: 10px;">A.M</mat-radio-button>
                    <mat-radio-button value="2" style="font-weight: bold; padding-left: 10px;">P.M</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <div style="text-align: center; width: 70%; margin: 0 auto;">
                <mat-form-field>
                    <mat-label for="horaFinAtencionUpdate" class="text-info titleInputHora">Hora Fin Atención:</mat-label><br>
                    <mat-select formControlName="horaFinAtencionUpdate" (click)="hideError('actualizar')" (focus)="hideError('actualizar')">
                        <ng-container *ngFor="let hora of horasDisponibles">
                            <mat-option [value]="hora">{{hora}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-radio-group [(ngModel)]="anteMeridiemFin" [ngModelOptions]="{standalone: true}" [name]="anteMeridiemFin" class="RadiobotonesHora" (ngModelChange)="changesInputUpdateVerificacion('anteMeridiemFin')" (click)="hideError('actualizar')" (focus)="hideError('actualizar')">
                    <mat-radio-button value="3" style="font-weight: bold; padding-right: 10px;">A.M</mat-radio-button>
                    <mat-radio-button value="4" style="font-weight: bold; padding-left: 10px;">P.M</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <div #mensajeServidorUpdateMedico class="errorServidor"></div>
            <br>
            <div class="centered">
                <button mat-raised-button class="botonesFormDialogOk" [disabled]="(!updateMedicoForm.valid || deshabilitarBotonUpdateForm)">Actualizar</button>
                <button mat-raised-button class="botonesFormDialogCancel" type="button" (click)="cerrarDialog('dialogUpdateMedico')">Cancelar</button>
            </div>
        </form>
    </ng-template>
    <ng-template #templateDelete let-data>
        <h3 class="centro">Deseas eliminar al médico "{{data.medico.nombre}}" con identificación "{{data.medico.identificacion}}" del sistema?</h3>
        <div #mensajeServidorDeleteMedico class="errorServidor"><br><br></div>
        <div class="centered">
            <button mat-raised-button class="botonesFormDialogOk" (click)="submitBorrarMedico(data.medico.id, data.indexMedico)">Aceptar</button>
            <button mat-raised-button class="botonesFormDialogCancel" (click)="cerrarDialog('dialogBorrarMedico')">Cancelar</button>
        </div>
    </ng-template>
    <div class="centered">
        <div style="font-weight: bold;">Añadir Médico</div>
        <button mat-icon-button (click)="crearMedico(templateCrear)">
            <img src="../../../assets/add.svg" style="width: 42px; height: 42px;">
        </button>
        <br>
        <br>
        <button mat-raised-button id="salirBoton" (click)="cerrarDialog(null)">Atrás</button>
    </div>
</div>