<body>
    <div id="divPrincipal">
        <h1 class="titulo">PRUEBA QUILEIA</h1>
    </div>
    <div class="centered">
        <div class="inline">
            <img class="img" src="../../../assets/doctor.png"><br>
            <button mat-raised-button color="accent" class="boton" (click)="abrirDialogMedicos()">Médicos</button>
        </div>
        <div class="inline">
            <img class="img" src="../../../assets/paciente.png"><br>
            <button mat-raised-button color="accent" class="boton" (click)="abrirDialogPacientes()">Pacientes</button>
        </div>
        <div class="inline">
            <img class="img" src="../../../assets/cita.png"><br>
            <button mat-raised-button color="accent" class="boton" (click)="abrirDialogCitas()">Citas</button>
        </div>
    </div>
</body>